@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}


.colornav {
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  color: black;
}

.colorfooter{
  background-color: rgb(15, 21, 22);
}

.textcolor {
  color: rgb(44, 39, 39);
}

.hero-h {
  min-height: 70vh;
  ;
}

.hero-overlay {
  grid-column-start: 3;
  grid-row-start: 1;
  height: 100%;
  width: 100%;
  /* background-color: hsl(var(--n) / var(--tw-bg-opacity)); */
  --tw-bg-opacity: 0.0;
}

.hero {
  display: grid;
  width: 100%;
  place-items: center;
  background-size: cover;
  background-position: center;
}

.navbar-start {
  width: 50%;
  justify-content: center;
}

.navbar-end {
  width: 50%;
  justify-content: center;
}

.carrito {
  width: 50px;
  height: 30px;
}

.logo{
  width: 100px;
  height: 100px;
  
}

.titulo{
  font-size: 80px;
}